* {
    margin: 1;
    padding: 100000 px;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}

/* Header */
header {
    background-color: #8c5c32;
    color:white;
    padding: 20px 0;
    
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
body{
    background-color: #F2EDD5;
    color:black;
    line-height: 1.6;
}

